<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
 <header>
    <img src = "/images/logo-mercado-liebre.svg" alt = "">
    <br>
    <h3>Lugar para poner la barra de búsqueda</h3>
    <br>
    <h3>Comprá en cuotas y sin tarjeta de crédito</h3>
    <br>
    <nav>

        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <br>
        <ul>
            <li><a href="#">Creá tu cuenta</a></li>
            <li><a href="#">Ingresá</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul>
        <br>

        <img src = "/images/img-home-banner.jpg" alt = "">
    </nav>
 </header>

 <br>

 <main>
<h1>Basado en tu última visita</h1>
    <img src = "/images/img-cafetera-moulinex.jpg" alt = "">
    <br>
    <h3>$6.770</h3>
    <h3>40% Off</h3>
    <h3>Cafetera Moulinex</h3>
    
    <img src = "/images/img-macbook-pro-2019.jpg" alt = "">
    <br>
    <h3>$230.000</h3>
    <h3>20% Off</h3>
    <h3>MacBook Pro 2019</h3>

    <img src = "/images/img-samsung-galaxy-s10.jpg" alt = "">
    <br>
    <h3>$70.500</h3>
    <h3>10% Off</h3>
    <h3>Samsung Galaxy S10</h3>
    
    <img src = "/images/img-tv-samsung-smart.jpg" alt = "">
    <br>
    <h3>$23.200</h3>
    <h3>5% Off</h3>
    <h3>SmartTv Samsung 43"</h3>

    <br>

<h1>Ofertas</h1>    
    <img src = "/images/img-cafetera-moulinex.jpg" alt = "">
    <br>
    <h3>$6.770</h3>
    <h3>40% Off</h3>
    <h3>Cafetera Moulinex</h3>

    <img src = "/images/img-macbook-pro-2019.jpg" alt = "">
    <br>
    <h3>$230.000</h3>
    <h3>20% Off</h3>
    <h3>MacBook Pro 2019</h3>

    <img src = "/images/img-samsung-galaxy-s10.jpg" alt = "">
    <br>
    <h3>$70.500</h3>
    <h3>10% Off</h3>
    <h3>Samsung Galaxy S10</h3>

    <img src = "/images/img-tv-samsung-smart.jpg" alt = "">
    <br>
    <h3>$23.200</h3>
    <h3>5% Off</h3>
    <h3>SmartTv Samsung 43"</h3>

 </main>    

<br>

 <footer>
     <h2>Pagá con tarjeta o efectivo</h2>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>

     <h2>Envío gratis desde $2.500</h2>
      <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>  

     <h2>Seguridad, de principio a fin</h2>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegido.</p>  

     <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 
 </footer>
</body>
</html>