<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    >
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="contenedor-logo-búsqueda">
                <img src="/images/logo-mercado-liebre.svg" class="logo">
                <nav class="navegacion"><input type="search"><i class="fas fa-search"></i></nav>
            </div>
            <h3 class="copy-header"><i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h3>
        </div>

        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i></a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="#">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="#">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </header>

    <br>

    <main>
        <form method="POST" action="/">

            <fieldset>
                <div>
                    <label for="nombre-completo">Ingrese su nombre completo</label>
                    <input id="nombre-completo" name="nombre-completo" placeholder="Ej: Juan Perez">
                </div>
            </fieldset>

            <fieldset>

                <div>
                    <label for="nombre-usuario">Ingrese su nombre de usuario</label>
                    <input id="nombre-usuario" name="nombre-usuario" placeholder="Ej: JuanP89">
                </div>
            </fieldset>


            <fieldset>
                <div>
                    <label for="fecha-nacimiento">Ingrese su fecha de nacimiento</label>
                    <input id="fecha-nacimiento" type="date" name="fecha-nacimiento">
                </div>
            </fieldset>


            <label>Categorías</label>
            <label>
                Electro
                <input name="categorías" type="checkbox" value="Electro"></input>
            </label>

            <label>
                Moda
                <input name="categorías" type="checkbox" value="Electro"></input>
            </label>

        </form>

    </main>


    <footer>
        <article>
            <div class="icono-footer"><i class="fas fa-credit-card"></i></div>
            <h2>Pagá con tarjeta o efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>


            <h2>Envío gratis desde $2.500</h2>
            <div class="icono-footer"><i class="fas fa-gift"></i></div>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>

            <h2>Seguridad, de principio a fin</h2>
            <div class="icono-footer"><i class="fas fa-user-shield"></i></div>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegido.</p>

            <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </footer>
</body>

</html>