*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   }

.contenedor-inicial{
    display: flex;
}
.contenedor-inicial-2{
    display: flex;
}

.logo-ml{
    padding-left: 20px;
    padding-top: 20px;
    width: 50%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:  #ebebeb;
}

header {
    background-color: #EAC926;
}

h3 {
    text-align: center;
    font-size: 12px;
    padding-right: 20px;
    padding-top: 20px;
}
a {
    margin: 3px;
}

.header-nav {
    font-size: 12px;
}

.nav-options {
    display: block;
    padding: 0;
}
.home-links{
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    font-size: 24px;
    color: #666;
    text-align: center;
}

p {
    font-size: 12px;
    margin-top: 20px;
}


.search-bar {
    margin-left: 10px;
    width: 50%;
    padding-top: 20px;
    padding-right: 10px; 
}

.burger-menu {
    display: block;
    background-color: #1259c3;;
    color: #FFFFFF;
    font-size: 25px;
    padding: 5px;
    max-width: 35px;
    border-radius: 20%;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.banner{
    display: block;
    width: 100vw;
    margin-bottom: 20px;
}


.contenedor-articulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.caja-grande-prod{
    width: 296px;
    margin-bottom: 20px;
}



.caja-interna-prod{
    border-top: 1px solid #ebebeb;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 15px;
    width: auto;
}

.fotos-prod{
    border-style: none;
    width: 100%;
    height: auto;
}


.footer-icons {
    color: #1259c3;
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 25px;
}
.footer-icons:hover {
    color: #eac926;
}

.precio {
    font-size: 18px;
    margin: 0;
    }

.truck-icon {
    color: #39b54a;
    font-size: 15px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.camioncito{
    width: 30px;
    border-radius: 18px;
    border-width: 1px;
    border-style: solid;
    border-color: #39b54a;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 220px;
    top: -18px;
    background-color: #ffffff;
    transition: all 2s;
}

.camioncito:hover{
    transform: rotate(360deg);
}

.descuento {
    font-size: 16px;
    color: #39b54a;
    margin: 0;
    }
.space-description{
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    font-weight: bold;
}
.descripcion span{
    visibility: hidden;
    font-size: 16px;
    color: #666;
    padding-top: 20px;
    padding-bottom: 15px;
    }

.descripcion:hover span{
    visibility: visible;
}

.footer-bloque {
    text-align: center;
    line-height: 6px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-bajo{
    background-color: #ffffff;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.form-container {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}  
.form-content{
    width: 342.4px;
}

.form-inputs {
    margin-bottom: 20px;
    border: none;
    border-bottom: #ffffff 2px solid;
    border-radius: 2px;
    background-color: #ffffff;
    width: 70%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

h5{
    margin-top: 30px;
    color: #666;
    margin-bottom: 12px;
}

.carga-archivos{
    margin-bottom: 40px;
    color: #808080b8;
}

.letra-inputs{
    color: #808080b8;
}

.buttons-social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.login-button-social-media {
    width: 70%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background-color: white;
    border-radius: 10px;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
}
.enviar:hover{
    background-color: #0022AA;
}

.caja-grande-prod{
transition: box-shadow 0.5s;
}

@media (max-width: 361px) {
    .header-nav{
        display: none;
    }    
    .descripcion{
        display: none;
    }
    .search-icon{
        display: none;
    }
    .contenedor-inicial{
        display: block;
    }
}


@media (min-width: 361px){
    .burger-menu{
        display: none;
    }
    .caja-grande-prod:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  
    .nav-options{
        display: flex;

    }
    
    .header-nav{
        display: flex;
        justify-content: space-around;
    }
}
